.ui.table td{
    padding:0;
}
.ui.eqpt.segment.item {
    margin:0; 
    height:3.2em; 
    width: 3.8em;
    position: absolute; 
}

#listUser, #listEnvironment{
    max-height: 500px;
    overflow-y: scroll
}

#listUser .item:hover, #listEnvironment .item:hover {
    background-color: #ddd;
}

#listUser .item.selected, #listEnvironment .item.selected {
    background-color: #ccc;
}

#firepad-container {
    width: 100%;
    height: 100%;
    background-color:#c5c5c5;
    position: absolute;
    top: 0;
    bottom: 0;
}

.itemicon {
    width: 3.2em !important;
    height: 3.2em !important;
    margin-left: -0.75em;
    border: none;
    margin-top: -1em;
}

.ui.segment {
    padding: 0.8rem 0.8rem !important;
}

.ui[class*="very wide"].popup {
    max-width: 550px;
    width: 550px;
}

.ui.segment.paperslot{
    position: absolute;
    height: 50px; 
    width: 50px; 
    border: 1px solid black; 
    border-radius: 3px; 
    background-color: rgba(0,0,0,0.2);
    margin: 0;
    padding: 0 !important;
    color: #c3c3c3;
}

.ui.segment.paperslot .ui.itempic {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
}

table.dataTable tbody td {
  vertical-align: top;
}