/_development
/nbproject
/_config.php
/composer.lock
/vendor
/db-data
.DS_Store
/webroot/lib
/webroot/oldinc
/_config.sample.php
LICENSE
README.md
UPDATE_NOTES
/nginx
/apache
.gitignore
Dockerfile
Dockerfile-Apache
.env
docker-compose.yaml
docker-compose-apache.yaml
.dockerignore
.git