# Entwickler Ordner
.DS_Store
/nbproject
/frontend
/htdocs/dev

# Cache und Config
/htdocs/dev
/htdocs/_config.php

# Docker Volumes
/db-data
/www-data
/web-data
/webroot/lib
/webroot/oldinc
/nginx/pid
/nginx/cache