# Enable Rewrite
RewriteEngine On

# Only HTTPS for Baremetal
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Check if Request for a File in Webroot
RewriteCond         "%{DOCUMENT_ROOT}/webroot/%{REQUEST_URI}"  -f
RewriteRule "^(.+)" "%{DOCUMENT_ROOT}/webroot/$1"  [L]

# Check if Request for a File in Webroot/React
RewriteCond         "%{DOCUMENT_ROOT}/webroot/react/%{REQUEST_URI}"  -f
RewriteRule "^(.+)" "%{DOCUMENT_ROOT}/webroot/react/$1"  [L]

# Check default
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ webroot/bare.php [QSA,L]

