RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Cache only Images
<filesMatch ".(jpg|jpeg|png|gif|ico)$">
    Header set Cache-Control "max-age=31536000, public"
</filesMatch>